body{
    background-color: #ffb1ae;
}
.columns {
    margin: 2%;
    display: flex;
    justify-content: space-between;

}
.column {
    box-shadow: 0px 4px 10px 0px rgba(255, 140, 105, 0.5);
    color: lightcoral;
    background: linear-gradient(to top, #FA8072,#FFE4E1 );
    border-radius: 30px;
    width: 30%;
}
.card {
    box-shadow: 0px 10px 20px 0px rgba(255, 140, 105, 0.5);
    width: 64%;
    border-radius: 30px;
    border: 3px solid #ffdcd1;
    padding-left: 6%;
    background-color: #ffffff;
    margin-left: 14%;
    margin-bottom: 10%;
}
.card_center{

    color: #ffffff;
    text-align: center;
}
li {
    color:#214133;
    list-style-type: none;
}
/*li::before {*/
/*    margin-right: 5px;*/
/*    content: "â¤";*/
/*    color:#f16092;*/
/*}*/
body {
    padding: 15px 0;
}
.column > h2{
    text-align: center;
}

input{
    border: 2px solid lightcoral;
    border-radius: 10px;

}
input:hover{
    background-color: azure;
    border: 2px solid coral;
}
.vvod{
    margin-left: 25%;
}
.btn {
    text-decoration: none;
    color: #6b5770;
    background-image: linear-gradient(90deg, #fd7f34, #bd155b);
    display: inline-block;

    border: 1px solid;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 15px 15px 0;
    outline: none;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}
.btn:before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(90deg, #fd7f34, #bd155b);
    z-index: -2;
    transition: .4s;
    border-radius: 5px;
}
.btn:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #fff, #fff);
    z-index: -1;
    transition: .4s;
    border-radius: 4px;
}
.btn:hover {
    color: #fff;
    transition: .3s;
}
.btn:hover:after {
    background: linear-gradient(90deg, #fd7f34, #bd155b);
}
.btn:active:after {
    background: linear-gradient(90deg, #d96d2d, #760f3a);
}
.btn:focus-visible {
    box-shadow: 0 0 0 3px #fd7f34;
}
.btn:disabled {
    pointer-events: none;
}
.btn:disabled:before {
    filter: grayscale(100%);
}